@charset "UTF-8";

*{
font-family: 'Noto Sans KR', sans-serif;
}

.total{
	margin-top: 100px;
}


h1 {
	font-size: 30px;
}


.send_content{
	margin: 0 auto;
	width: 600px;
	height: 855px;
	border-style : solid;
	border-color: #0D47A1;
	border-radius: 15px;
}

.big_button button{
	
}
